html, body {
    height:100%;
    margin:0;
}

.main {
    background: url("../img/space.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;height: 100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.navbar {
    background-color: rgb(12, 12, 88);
    border-bottom: 1px solid rgb(18, 206, 1);
}

.name-menu{
    float: left;
}

.row .card-ticket {
    margin-left: 50px;
}

.card-ppal {
    background-color: rgba(240, 248, 255, 0.158);
}

.card-body .card-text{
    height: 10px;
}

.card-title {
    height: 70px;
}

.text-right {
    float: right;
}

.options {
    float: left;
}

.btn-home {
    width: 60%;
    display: inline-block;
    height: 40px;
}

.btn-home p {
    float: left;
}

.input-group-text {
    border: 1px solid rgb(18, 206, 1);
}