body {
    margin:0;
    background: url("../img/space.png") no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
}

label{
    color: #fff;
}

h4, h5, h6, p {
    color: #fff;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.navbar {
    background-color: rgb(12, 12, 88);
    border-bottom: 1px solid rgb(18, 206, 1);
}

.name-menu{
    float: left;
}

.row .card-ticket {
    margin-left: 50px;
}

.card-ppal{
    background-color: rgba(240, 248, 255, 0.158);
    border: 1px solid rgb(56, 247, 38);
}

.card-header {
    border-bottom: 1px solid rgb(56, 247, 38);
}

.card-body .card-text{
    height: 10px;
}

.card-title {
    height: 70px;
}

.card {
    background-color: rgba(240, 248, 255, 0.158);
}

.card .mt-4 {
    border: 1px solid rgb(35, 248, 248) !important;
    background-color: rgba(22, 72, 116, 0.616);
    cursor: pointer;
}

.card .mt-4:hover {
    border: 1.7px solid rgb(56, 247, 38) !important; 
    transition: 0.5s; 
}

.card .mt-4 .card-header,
.card .mt-4 .card-body{
    border-bottom: 1px solid rgb(35, 248, 248);
}

.text-right {
    float: right;
}

.options {
    float: left;
}

.btn-home {
    width: 60%;
    display: inline-block;
    height: 40px;
    border-radius: 5px;
}

.btn-home p {
    float: left;
}

.input-group-text {
    border: 1px solid rgb(18, 206, 1);
}